<!DOCTYPE html>
<html>
    <body style="display:flex;">
        <form method="POST" action="/" style = "width: 40wv; height: 30wv; display: inline-block;">
            <label for="message"></label>
            <textarea id="message" name="message" rows="15" cols="55" placeholder="Enter your message...">{{message}}</textarea><br>
            <button type="submit" style="float: right;">Submit</button>
        </form>
        <div style="display: inline-block;">
            <textarea id="edited" rows="15" cols="55" readonly>{{edited}}</textarea>
        </div>
    </body>
</html>